{% extends 'base.html.twig' %}

{% block body %}

    <div class="container body-content">
        <div class="row">
            {% for article in articles %}
                <div class="col-md-12">
                    <article>
                        {% if app.getUser() and (app.getUser().isAuthor(article)) %}
                        <header>
                            <h2>{{ article.title }}</h2>
                        </header>


                        {% if article.image is not empty %}
                            <a href="{{ path('article_view', {id: article.id}) }}">
                                <img src="{{ asset('uploads/images/articles/' ~ article.image) }}" width="400px" height="200px">
                            </a>
                        {% endif %}
                        <p>
                            {{ article.content }}
                        </p>

                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-success btn-xs" href="{{ path('article_edit', {id:article.id}) }}">Edit &raquo;</a>
                                <a class="btn btn-danger btn-xs" href="{{ path('article_delete', {id:article.id}) }}">Delete &raquo;</a>
                                <a class="btn btn-default btn-xs" href="{{ path('blog_index') }}">back &raquo;</a>
                            </div>
                            {% endif %}
                        </footer>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}

